mixin inputs(name ,types, placeholders, id)
 label
  div.popup__container 
    p.popup_container_text= name
    input.input.popup_container_input(name=id+"Input" type=types id="card-"+id placeholder=placeholders required  minlength="2" maxlength="200")
    span(class='popup_error card-'+id+'-error')

mixin inputs(name ,types, placeholders, id)
 label
  div.popup__container 
    p.popup_container_text= name
    input.input.popup_container_input(name=id+"Input" type=types id="card-"+id placeholder=placeholders required  minlength="2" maxlength="200")
    span(class='popup_error card-'+id+'-error')

html(lang='ru')
  head 
    script(src='./profile.ts' type='module')
  body.body 
    a.btn__back(href="../chat/chat.html")
        img.btn__image(src="../../image/btnSend-icon.svg")
    div.popup
        div.popup__photo
           img(src="../../image/video-photo-white.svg")
        p.popup__name Роман
        form(class='form popup__inputs info disableinput', name='profile')
          +inputs('Почта','Email', 'Введите Почту', 'email')
          +inputs('Логин','login', 'Введите Логин', 'login')
          +inputs('Имя','name', 'Введите Имя','name')
          +inputs('Фамилия','surname', 'Введите Фамилию','surname')
          +inputs('Телефон','tel', 'Введите Телефон','tel')
          button.form__btn.btn__info.disable Сохранить
        form.form.password.disable
            +inputs('Старый пароль','password', '•••••••••', 'password')
            +inputs('Новый пароль','password', '•••••••••', 'onepassword')
            +inputs('Повторите новый пароль','password', '•••••••••', 'secondepassword')
            button.form__btn.btn__password Сохранить
        div.popup__btns
            p.popup__btn.data Изменить данные
            p.popup__btn.btnToPassword Изменить пароль
            p.popup_btn_back Выйти

